html {
  line-height: 1.5;
  font-size: 120%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app-grid {
  display: grid;
  grid-template-columns: 8px auto 16px;
  grid-template-rows: 8px 50px auto 8px;
}

.app-content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.app-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

/*@media screen and (min-width: 481px) {*/
  /*.app-grid {*/
    /*grid-template-columns: 240px auto 40px;*/
  /*}*/
/*}*/

@media screen and (min-width: 481px) {
  .app-grid {
    grid-template-columns: 8px 240px auto 16px;
    grid-template-rows: 8px 80px auto 60px 8px;
  }

  .app-content {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/*@media screen and (min-width: 1025px) {*/
  /*.app-grid {*/
    /*grid-template-columns: 240px auto 120px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 1600px) {*/
  /*.app-grid {*/
    /*grid-template-columns: 320px auto 320px;*/
    /*grid-template-rows: 160px auto 120px;*/
  /*}*/
/*}*/

.app-title {
  font-size: 1.5em;
  margin: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.nav-list__item {
  padding: 0 8px;
}

a {
  text-decoration: none;
  color: darkslategray;
}
